@import "../../App.scss";

.ChatBox {
  border: 1.2px solid $main-color;
  border-radius: 12px;
  min-height: 40px;
  padding: 6px;
  margin: 20px 0;

  &.assistant {
    background-color: #fff;
  }

  &.user {
    background-color: $main-color;
    color: #fff;
    margin-left: 20%;
  }

  pre {
    font-size: 0.9rem;
    font-family: "Pretendard-Regular";

    line-height: 120%;

    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
    padding: 8px;
  }
}
