.Interview {
  width: 60%;
  min-height: 100vh;
  border: 1px solid #afb2e3;

  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 0;
}

.chatList {
  overflow-y: auto;
  height: 92vh;
  padding: 0 30px;
  padding-bottom: 45px;
}

.chatList::-webkit-scrollbar {
  width: 3px; /*스크롤바의 너비*/
}

.chatList::-webkit-scrollbar-thumb {
  background-color: #40537a; /*스크롤바의 색상*/
  background-clip: padding-box;
  border-radius: 10px;
}

.chatList::-webkit-scrollbar-track {
  background-color: #fff; /*스크롤바 트랙 색상*/
}

.chatList .loading {
  display: flex;
  align-items: center;
  border: 1px solid #afb2e3;
  background-color: #ebf1ff;
  border-radius: 10px;
  min-height: 40px;

  padding: 10px;
  margin: 20px 0;
}

.chatList .loading .loading-text {
  margin-right: 10px;
}

.continue_btn {
  position: absolute;
  bottom: 100px;
  right: 100px;
}
