@import "../../App.scss";

.Home {
  min-height: 100vh;
  height: fit-content;
  background-color: $bg-color;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &::after {
    display: block;
    content: "";
    clear: both;
  }
}
